.App {
  text-align: center;
}
.container {
  padding-inline: 200px;
}
.article {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
img {
  height: 250px;
  border-radius: 50px;
}
.article-details {
  width: 50%;
  text-align: initial;
}
